.inProgressPage {
  align-items: center;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.basicInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.image {
  border-radius: 10px;
  width: 400px;
}

.ingredientTitle {
  font-size: 25px;
}

.ingredient {
  font-size: 18px;
}

.checked {
  text-decoration: line-through;
}

.favAndShare {
  align-items: center;
  display: flex;
  gap: 3px;
  flex-direction: column;
  margin-top: 10px;
  max-width: 100%;
}

.btnsDiv {
  display: flex;
  gap: 3px;
}

.topBtns {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 35px;
  width: 35px;
}

.icons {
  font-size: 20px;
}

.ingredientsDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.videoDiv {
  margin-top: 20px;
}

.recsDiv {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  overflow-x: scroll;
  width: 500px;
  max-width: 500px;
}

.finishBtn {
  background-color: brown;
  border: solid 1px black;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  left: 0;
  position: fixed;
  right: 0;

  &:disabled {
    background-color: rgba(165, 42, 42, 0.664);
  }

  &:active {
    background-color: rgb(202, 33, 33);
  }
}

@media ( max-width : 600px ) {

  .image {
    width: 300px;
  }

  .video {
    width: 300px;
  }

  .recsDiv {
    overflow: auto;
    width: 300px;
  }

  .recImg {
    width: 150px;
  }

  .finishBtn {
    height: 30px;
    font-size: 18px;
  }
}