.layout {
  display: grid;
  grid-template-rows: 20% 75% 5%;
  height: 100vh;
}

.layout2 {
  display: grid;
  grid-template-rows: 5% 95%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
}